<!DOCTYPE html>
<html>
	<head>
	  <title>My Angular&Rails app</title>
	  <!-- This issue of bower not loading angular js has to be solved -->
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script> 
  	  <%= stylesheet_link_tag    'application', media: 'all' %>
  	  <%= javascript_include_tag 'application' %>
  	  <%= csrf_meta_tags %>
	  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>

	<body ng-app="flapperNews" ng-controller="MainCtrl">
	  <div ng-include="'nav/_nav.html'"></div>
	  <ui-view></ui-view>
	</body>
</html>
